* {
    display: block;
}

/* Header outer container */
#header-outer {
    /*
    display: flex;
    flex-direction: column;
    flex: 1 0;
    */
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 2;
}

/* Header inner strip container with key terms */
#header-keyterms {
    position: static;
    width: 100%;
    height: 3rem;
    background:#FFAC31;
    display: flex;
    flex-direction: row;
    flex: 1 0;
    align-items: center;
    justify-content: center;
    column-gap: 7vw;
}

/* Header inner main container */
#header-inner {
    display: grid;
    position: static;
    width: 100%;
    height: 124px;
    background: #FFF290;
    grid-template-columns: 0.5fr 0.5fr 2.5rem 2fr 1fr;
    grid-auto-rows: auto;
    align-items: end;
    gap: 0;
}

/* Header first grid row fraction container with logos and full-menu button
#header-first-row-fraction {
    display: inline-flex;
    position: static;
    flex-direction: row;
    flex: 1 0;
    align-items: end;
    justify-content: center;
    border: 1px solid black;
}s
*/

/* Logo title */
#logo-title {
    display: inline-block;
    position: static;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0 0 0.5rem 0.5rem;
}

/* Logo icon */
#logo-icon {
    display: inline-block;
    position: static;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
}


/* Full menu button icon */
#nav-full-menu-button {
    display: inline-block;
    position: static;
    min-width: 2rem;
    min-height: 2rem;
    padding: 0;
    margin: 0 0.5rem 4rem 0;
}

/* Navigation Middle Bar Container */
#nav-middle-bar-container {
    /* Flexbox version */
    display: inline-flex;
    position: static;
    width: auto;
    height: 6rem;
    padding: 0;
    border: 1px solid black;
    margin: 0;
    flex-direction: column-reverse;
    

    /* (Placed in a Grid version)
    display: inline-block;
    padding: 0;
    border: 1px solid black;
    margin: 0;
    */
}

/* Navigation search bar */
#nav-search-bar {
    display: inline-block;
    box-sizing: border-box;
    position: static;
    width: auto;
    padding: 0.2rem;
    background: #FFFFFF;
}

/* Navigation quick-access menu container */
#nav-quick-menu {
    display: inline-flex;
    position: absolute;
    width: 50vw;
    border: 1px solid black;
    margin: 0, auto;    /* Center horizontally within Header Inner Main Container */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Shopping basket container */
#basket-container {
    display: inline-block;
    position: static;
    border: 1px solid black;
    margin: 0 0.5rem 4rem auto; /* margin-left fills the rest of the space*/
}

/* Shopping basket icon */
#basket-icon {
    display: inline-block;
    position: static;
    width: 2rem;
    height: 2rem;
}

/* Basket number of items indicator */
#basket-num-indicator {
    display: inline-block;
    position: static;
    padding: 0.2rem;
    margin: 0 -2rem -2rem 0;
    left: 2.75rem;
    top: 2.75rem;
    border-radius: 50%;
    background: #FFAC31;
}