:root {
    --sand-yellow: #FFF290;         /* Sand Yellow #FFF290 */
    --sand-shadow: #a87900;         /* Sand Shadow #a87900 */
    --sand-shadow-logo: #C37C00;    /* Sand Shadow Logo #C37C00 */
    --red-sand-shadow: #ae4d00;     /* Red Sand Shadow #ae4d00 */
    --porcelain-orange: #FFAC31;    /* Porcelain Orange #FFAC31 */
    --porcelain-shadow: #D87800;    /* Porcelain Shadow #D87800 */
    --clay-gray: #ada17f;           /* Clay Gray #ada17f */
    --clay-shadow: #5b4400;         /* Clay Shadow #5b4400 */
}