@font-face {
    font-family: "Marcellus";
    src: url(/media/fonts/marcellus/Marcellus-Regular.ttf);
}

@font-face {
    font-family: "Marcellus SC";
    src: url(/media/fonts/marcellus-sc/MarcellusSC-Regular.ttf);
}