/* <body> element styling for overriding user agent default style */
body {
    display: block;
    margin: 0;
}

/* Header outer container */
#header-outer {
    display: block;
    position: relative;
    width: 100vw;
    min-width: 409px;
    padding-top: 0.5rem;
    z-index: 2;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 15%);
    background: #FFF290;
}

/* Header Logo Title and Icon container */
#header-logo-container {
    display: flex;
    position: static;
    justify-content: center;
    align-items: flex-end;
}

/* Logo title */
#logo-title {
    display: inline-block;
    position: static;
    height: 3.7rem;
    margin-right: -12px;
    margin-bottom: 0.3rem;
}

/* Logo icon */
#logo-icon {
    display: inline-block;
    position: static;
    height: 4rem;
}

/* Full menu button icon */
#nav-full-menu-button {
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 0.7rem;
    width: 2rem;
    height: 2rem;
}

/* Navigation Search button (narrowscreen only) */
#nav-search-button {
    display: block;
    position: absolute;
    height: 1.8rem;
    top: 0.5rem;
    right: 4.5rem;
}

/* Shopping basket container */
#basket-container {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
}

/* Shopping basket icon */
#basket-icon {
    display: inline-block;
    position: static;
    width: 2rem;
    height: 2rem;
}

/* Shopping basket number of items indicator */
#basket-num-indicator {
    display: inline-block;
    position: absolute;
    padding: 0.2rem;
    bottom: -0.4rem;
    right: -1rem;
    border-radius: 50%;
    background: #FFAC31;
}

/* Navigation Search bar container for bottom padding (narrow screen only) */
#nav-search-bar-container {
    display: none; /* TODO: Try visibility: collapsed */
    position: static;
    padding-bottom: 0.5rem;
    margin: 0 1rem 0;
}

/* Navigation search bar input container for easier positioning of icon*/
#nav-search-bar-input-container {
    position: relative; /* For centering search icon by using relative offset */
}

/* Navigation Search bar Input */
#nav-search-bar-input {
    position: static;
    width: 100%;
    padding: 0.3rem 2.4rem 0.3rem 0.6rem;   /* Leave space for the icon on the right*/
    font-family: "Marcellus";
    font-size: 1.0rem;
}

/* Navigation Search bar Icon*/
#nav-search-icon {
    display: block;
    position: absolute;
    top: 50%;               /* Center vertically */
    margin-top: -0.8rem;    /* Center vertically */
    right: 0.9rem;
    height: 1.6rem;
    pointer-events: none; /* Let clicks through to the search bar input element */
}