/* Every "product entry" class that is NOT an <a> anchor element. Currently, the container is the only <a> element */
.product-entry:not(a) {
    pointer-events: none;   /* Let the pointer events through all the way to the "a.container" element */   
}

/* Every container element */
.container {
    display: block;
    position: static;
}

/* Every text element */
span {
    display: block;
    position: static;
    font-family: "Marcellus";
}

.image {
    display: block;
    position: static;
    max-width: 100%;        /* Fit into grid */
    object-fit: contain;    /* Fit into grid */
    background-color: #F7F7F7;
}

.name {
    font-size: 1.125rem;
    padding-top: 0.46875rem;
}

.culture {
    font-size: 1rem;
    color: var(--clay-gray);    /* Custom property from an external file */
}

.price {
    font-size: 1.125rem;
    padding-top: 0.625rem;
    color: var(--clay-shadow);  /* Custom property from an external file */
}

/* The horizontal bar below the last row of results of "product entries". Does only appear when "are pages enabled" is true */
img.horizontal-bar.bar {
    background-repeat: repeat-x;
}